@charset "UTF-8";

body {
    font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
    font-size: 15px;
    overflow-x: hidden;
}

.header {
    position: relative;
    height: 23vh;
    overflow: hidden;
}
.header::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    filter: blur(2px);
    z-index: 1;
}
.header::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.header .headline,
.header .auther {
    position: relative;
    z-index: 3;
}

.header {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    padding-left: 7vw;
}
.headline {
    display: flex;
    align-items: center;
    padding-top: 3vh;
}
.logo {
    display: flex;
    flex-direction: column;  
    align-items: center;
    text-align: center;
}
.logo img {
    width: 20vh;
}
.title h1 {
    padding-left: 1vw;
    font-size: 3.5vw;
    font-weight: bold;
    color: rgb(233, 233, 233);
}

.auther {
    display: flex;
    justify-content: left; 
    align-items: center;   
    padding-left: 3vw;
}
.auther img {
    display: inline-block;
    width: 10vh;
}
.auther .text .name {
    font-size: 1.3vw;
    color: rgb(215, 215, 215);
}
.auther .text .date {
    font-size: 1vw;
    color: rgb(190, 190, 190);
}

.container {
    display: flex;
    margin: 0 auto;
    background-color: black;
}
.main-contents {
    width: 80%; 
    background-color: rgb(240, 240, 240);
    overflow-y: auto;
    transition: width 0.3s ease; 
}
.side-menu {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    left: 0;
    width: 20%;
    height: 100vh; 
    overflow-y: auto;
    color: white;
    transition: width 0.3s ease; 
}
.side-menu .menu-contents {
    padding-top: 1vh;
}
.side-menu.closed {
    width: 2.5%;
    transition: width 0.5s ease; 
}
.menu-contents.closed {
    margin-left: -300px;
    transition: width 0.3s ease; 
}
.side-menu.closed ~ .main-contents {
    width: 97.5%; 
}

.menu-bar .menu-title .underline-menu {
    width: 18vw;
    height: 2px;
    background-color: rgb(190, 190, 190);
}
.menu-contents .menu-title h2 {
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
}
.hanbarger-menu {
    display: flex;
    justify-content: flex-start;
}
.menu-contents.closed .hanbarger-menu {
    transform: translateX(calc(100% - 2.5vw));
    transition: transform 0.4s ease; 
}
.menu-contents .toggle-btn img {
    width: 3vw;
    border: none; 
    cursor: pointer;
}
.accordion-button-1 {
    width: 90%;
    padding: 0.5vw;
    margin-left: 0.5vw;
    text-align: left;
    font-size: 1.4vw;
    color: white;
    background-color: #000000;
    border: none;
    cursor: pointer;
}
.accordion-button-2 {
    width: 90%;
    padding: 0.5vw;
    margin-left: 1.5vw;
    text-align: left;
    font-size: 1.3vw;
    color: white;
    background-color: #000000;
    border: none;
    cursor: pointer;
}
.accordion-button-2 .indent {
    display: inline-block;
    padding-left: 1.7em;
}
.accordion-button-1:hover {
    color: #b1b1b1;
}  
.accordion-button-2:hover {
    color: #b1b1b1;
}  
.accordion-panel-1 {
    display: none;
    width: 15.5vw;
    margin-left: 3vw;
    background-color: #878787;
}
.accordion-panel-2 {
    display: none;
    width: 15vw;
    margin-left: 3.5vw;
    background-color: #878787;
}
.accordion-panel-1 a {
    display: block;
    padding: 0.5vw;
    font-size: 1vw;
    color: white;
    text-decoration: none;
}
.accordion-panel-1 a:hover {
    background-color: #4a4a4a;
}  
.accordion-panel-2 a {
    display: block;
    padding: 0.5vw;
    font-size: 1vw;
    color: white;
    text-decoration: none;
}
.accordion-panel-2 a:hover {
    background-color: #4a4a4a;
}  

.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    background-color: rgb(0, 0, 0);
}
.slider-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;       
    width: 100vw;
    aspect-ratio: 4 / 2;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
}
.slider {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
}
.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47vw;
    aspect-ratio: 5 / 3;
    flex-shrink: 0;
    margin: 0 1.5vw;
    background-color: black;
    border: 1vh solid #000;
    border-radius: 2vh;
    box-shadow: 0 1vh 2vh rgba(30, 30, 30, 0.7);
}
.slider img:hover {
    opacity: 0.5;
}
.slider img {
    width: 98%;
}
.slider-button {
    border: none;
    padding: 1vw;
    font-size: 5vw;
    color: white;
    cursor: pointer;
}  
.slider-button:hover {
    color: rgb(120, 120, 120);
}  

.contents {
    justify-content: center;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 4vh;
    background-color: rgb(70, 70, 70);
}
.contents h2 {
    padding-bottom: 1vh;
    font-size: 4vh;
    font-weight: bold;
    color: rgb(190, 190, 190);
}
.contents .underline-contents {
    width: 93%;
    height: 2px;
    margin: 0 auto 3vh auto;
    background-color: rgb(190, 190, 190);
}
.contents .outline-block {
    display: flex;
    justify-content: center; 
    gap: 2vw;       
}
.contents .outline {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 17.5vw;
    height: 17.5vw;
    padding: 1vh;
    background-color: rgb(220, 220, 220); 
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px;
}
.contents .outline img {
    width: 85%;
    padding-bottom: 1vh;
}
.contents .outline .outline4 {
    width: 128%;
}
.contents .outline div {
    font-size: 1.3vw;
    font-weight: bold;
}
.contents .outline {
    text-decoration: none;
    color: inherit;        
}
.contents .outline a {
    display: block;
    transition: background-color 0.2s;
}
.contents .outline:hover {
    background-color: rgba(205, 205, 205, 0.6);
}

.main-topic {
    display: flex;
    justify-content: center;
    padding-top: 7vh;
}
.main-topic-block {
    width: 90%;
    padding-top: 5vh;
    background-color: #ffffff;
    border: 2px solid #eaeaea;
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(160, 160, 160, 0.4);
}
.main-topic .section-1 {
    padding-bottom: 3vh;
}
.main-topic .section-1 .section-2 {
    padding-bottom: 3vh;
}
.main-topic .section-3 {
    padding-bottom: 3vh;
}
.main-topic .underline-headline-1 {
    width: 99%;
    height: 4px;
    margin: 0 0 3vh 0.8vw;
    background-color: rgb(128, 128, 128);
}
.main-topic .underline-headline-2 {
    width: 98%;
    height: 2px;
    margin: 0 0 3vh 1.6vw;
    background-color: rgb(128, 128, 128);
}
.main-topic h2 {
    padding-left: 2vw;
    font-size: 2.8vw;
    font-weight: bold;
}
.main-topic h3 {
    padding-left: 3vw;
    padding-bottom: 1vh;
    font-size: 1.8vw;
    font-weight: 600;
    color: rgb(50, 50, 50);
}
.main-topic h4 {
    padding-left: 3.5vw;
    padding-bottom: 1vh;
    font-size: 22px;
    font-weight: 600;
    color: rgb(50, 50, 50);
}
.main-topic .section-1 p {
    padding-left: 2vw;
    padding-bottom: 3vh;
    font-size: 1.3vw;
    letter-spacing: 0.05em;
    color: rgb(50, 50, 50);
}
.main-topic .section-2 p {
    padding-left: 3vw;
    padding-bottom: 3vh;
    font-size: 1.3vw;
    letter-spacing: 0.05em;
    color: rgb(50, 50, 50);
}
.main-topic .section-3 p {
    padding-left: 3.5vw;
    padding-bottom: 3vh;
    font-size: 1.3vw;
    letter-spacing: 0.05em;
    color: rgb(50, 50, 50);
}